PORT=3000

DB_HOST=postgres_db # container servive with which NODE API will connect
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=secretpassword
DB_NAME=bugtracker

POSTGRES_USER=postgres
POSTGRES_PASSWORD=secretpassword
POSTGRES_DB=bugtracker

OLLAMA_HOST=http://ollama:11434
OLLAMA_MODEL=llama3.2